<!-- <div class="container-fluid"> -->
<h1>{{sing.nombre}} {{sing.apellido}} - <small>{{sing.ciudad}}</small></h1>
<hr>
<div class="container">
      <div class="row">
        <div class="col">
            <img [src]="sing.img" class="img-fluid" [alt]="sing.nombre">

        </div>
        <div class="col">
          <h3>Exitos</h3>
        {{sing.exito}}
        </div>
      </div>
 <hr>
      <div class="row">
        <div class="col">
         <h3>Biografia</h3>
         <h5>{{sing.biografia}}</h5>
         <a href="/api" class="btn btn-danger">Back</a>
        </div>
        <div class="col">
        asdfghjk
        </div>
      </div>
    </div>
<!-- </div> -->

